<!DOCTYPE html>
<html>
<head>
	<title>Mastercourse Geo Popup</title>

	<link rel="stylesheet" type="text/css" media="all" href="{{ STATIC_URL }}css/jquery.qtip.min.css">
	<link rel="stylesheet" type="text/css" media="all" href="{{ STATIC_URL }}css/jquery-ui.css">

	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-2.0.3.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.qtip.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/OpenLayers-2.13/OpenLayers.js"></script>
	<script type="text/javascript" src="http://maps.google.com/maps/api/js?v=3&amp;sensor=false"></script>
	<script type="text/javascript">
		var map                                                             ;
		var deps_control                                                    ;
		var communes_layer        = null                                    ;
		var geojson_format        = new OpenLayers.Format.GeoJSON()         ;
		var PROJCTION_EPSG_4326   = new OpenLayers.Projection("EPSG:4326"  );
		var PROJCTION_EPSG_900913 = new OpenLayers.Projection("EPSG:900913");

		var custom_panel = new OpenLayers.Control.Panel({
			displayClass: 'custom_panel'
		});

		var reset_map    = new OpenLayers.Control.Button({
			displayClass: "reset_map",
			trigger     : function(){
				for(i=2;i<map.layers.length;++i)
					map.layers[i].setVisibility(false);
				map.layers[1].setVisibility(true);
				deps_control.unselectAll();
				map.zoomToExtent(map.layers[1].getDataExtent());
		}});


		$(function() {
			$("#commune_name").autocomplete({
				source: "{% url 'commune_to_zip' %}",
				minLength: 3,
			});

			$("#find_address").click(function(event){
				address = $('#address_to_commune')[0].value;

				$.ajax({
					url :"{% url 'address_geolocator' %}",
					type: "POST",
					data: {
						'address': address,
				}})
				.done(function(data) {
					$('#address_result')[0].textContent = JSON.stringify(data);
				})
				.fail(function() {
					alert("address geolocalization failed");
				})
			});


			$("#geo_ip_search").click(function(event){
				address = $('#address_to_commune')[0].value;

				$.ajax({
					url :"{% url 'ip_geolocator' %}",
				})
				.done(function(data) {
					$('#address_result')[0].textContent = JSON.stringify(data);
				})
				.fail(function() {
					alert("address ip geolocalization failed");
				})
			});

			map = new OpenLayers.Map ("map",{
				projection       : PROJCTION_EPSG_900913,
				displayProjection: PROJCTION_EPSG_4326  ,
				controls         : [
					new OpenLayers.Control.Navigation(),
					new OpenLayers.Control.PanZoomBar(),
			]});

			map.addLayer (new OpenLayers.Layer.Google("Google Streets", {'sphericalMercator': true}));
			custom_panel.addControls([reset_map]);
			map.addControl(custom_panel);

			$.ajax({
				url     :"{% url 'departements' %}",
				dataType: "json",
			})
			.done(function(features_collection) {
				departements_layer = create_layer_from_geojson("Departements", features_collection);
				map.zoomToExtent(departements_layer.getDataExtent());

				deps_control = new OpenLayers.Control.SelectFeature(departements_layer, {
					hover   : false,
					clickout: false,
					multiple: false,
					onSelect: function(event){
						load_departement_communes(event.attributes.id);
				}});
				activate_layer_control(deps_control);
			})
			.fail(function() {
				alert( "loading departements failed" );
		})});

		function get_feature_qtip(event) {
			return $('#'+event.feature.geometry.components[0].id).qtip({
				overwrite: false,
				style    : { classes: 'qtip-light qtip-shadow qtip-rounded' },
				content  : { 
					text : event.feature.attributes.nom,
					title: event.feature.attributes.zip,
				},
				show     : { 
					ready : true,
					effect: function() {
						$(this).fadeTo(500, 1); 
		}}})}

		function initialize_qtip(layer) {
			activate_layer_control(new OpenLayers.Control.SelectFeature(layer, {
				hover         : true       ,
				highlightOnly : true       ,
				renderIntent  : "temporary",
				eventListeners: {
					featurehighlighted  : function(event) { get_feature_qtip(event).qtip('show'); },
					featureunhighlighted: function(event) { get_feature_qtip(event).qtip('hide'); },
		}}))}

		function load_departement_communes(departement){
			var layer_name = "communes_"+departement;
			if(typeof(map.getLayersByName(layer_name)[0]) == "undefined"){
				$.ajax({
					url     :"{% url 'departements' %}" + departement,
					dataType: "json",
				})
				.done(function(features_collection) {
					commune_layer = create_layer_from_geojson(layer_name, features_collection);
					switch_to_departement_communes(commune_layer);
					activate_layer_control(new OpenLayers.Control.SelectFeature(commune_layer, {
						hover   : false,
						clickout: false,
						multiple: false,
						onSelect: function(event){
							console.log(event.attributes);
							$('#address_result')[0].textContent = JSON.stringify(event.attributes);
				}}))})
				.fail(function() {
					alert("loading departement failed");
				});
			} else {
				switch_to_departement_communes(map.getLayersByName(layer_name)[0]);
		}}

		function switch_to_departement_communes(layer){
			for(i=2;i<map.layers.length;++i)
				map.layers[i].setVisibility(false);
			layer.setVisibility(true);
			departements_layer.setVisibility(false);
			map.zoomToExtent(layer.getDataExtent());
		}

		function create_layer_from_geojson(layer_name, layer_features) {
			layer = new OpenLayers.Layer.Vector(layer_name, {
				projection      : map.displayProjection,
				styleMap        : new OpenLayers.StyleMap({
					"default": new OpenLayers.Style({
						fillColor    : "#e596a3",
						fillOpacity  : 0.5      ,
						strokeColor  : "#9b9b9b",
						strokeWidth  : 1,
						strokeOpacity: 1,
					}),
					"temporary": new OpenLayers.Style({
						fillColor    : "#e596a3",
						fillOpacity  : 1        ,
						strokeColor  : "#9b9b9b",
						strokeWidth  : 1,
						strokeOpacity: 1,
					}),
					"select": new OpenLayers.Style({
						fillColor    : "#e596a3",
						fillOpacity  : 1        ,
						strokeColor  : "#9b9b9b",
						strokeWidth  : 1,
						strokeOpacity: 1,
				})}),
				preFeatureInsert: function(feature) {
					feature.geometry.transform(PROJCTION_EPSG_4326, map.getProjection());
			}});
			map.addLayer(layer);
			initialize_qtip(layer);
			layer.addFeatures(geojson_format.read(layer_features));
			return layer;
		}

		function activate_layer_control(control) {
			map.addControl(control);
			control.activate();
		}
	</script>

	<style type="text/css">
		.custom_panel {
			width : 24px   ;
			height: 24px   ;
			cursor: pointer;
			left  : 16px   ;
			top   : 280px  ;
		}

		.reset_mapItemInactive {
			background-image: url('{{ STATIC_URL }}img/globe_mini.png');
			width           : 24px ;
			height          : 24px ;
			left            : 16px ;
			z-index         : 99999;
			top             : 280px;
		}

		#map {
			width   : 60%     ;
			height  : 660px   ;
		}

		#commune_to_zip {
			top     : 10px    ;
			right   : 60px    ;
			position: absolute;
		}

		#address_to_zip {
			top     : 40px    ;
			right   : 60px    ;
			position: absolute;
		}

		#results {
			top     : 80px    ;
			right   : 60px    ;
			position: absolute;
		}

		#address_result {
			top     : 30px    ;
			right   : 0px     ;
			width   : 400px   ;
			height  : 100px   ;
			position: absolute;
		}

		input {
			width: 200px;
		}
	</style>
</head>
<body>
	<div id="map"></div>
	<div id="commune_to_zip" class="ui-widget">
		<label for="commune_name">Code postal commune: </label>
		<input type="text" id="commune_name"/>
	</div>
	<div id="address_to_zip" class="ui-widget">
		<label for="address_to_commune">Adresse: </label>
		<input type="text" id="address_to_commune"/>
	</div>
	<div id="results">
		<button id="find_address">geo address</button>
		<button id="geo_ip_search">geo ip</button>
		<textarea id="address_result"></textarea>
	</div>
</body>
</html>