<!DOCTYPE html>
<html>
<head>
	<title>Mastercourse Geo Popup</title>

	<link rel="stylesheet" type="text/css" media="all" href="{{ STATIC_URL }}css/main.css">
	<link rel="stylesheet" type="text/css" media="all" href="{{ STATIC_URL }}css/jquery-ui.css">
	<link rel="stylesheet" type="text/css" media="all" href="{{ STATIC_URL }}css/jquery.qtip.min.css">

	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.qtip.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/OpenLayers/OpenLayers.js"></script>
	<script type="text/javascript" src="http://maps.google.com/maps/api/js?v=3&amp;sensor=false"></script>
</head>
<body>
	<div id="map"></div>

	<div id="commune_to_zip">
		<label for="commune_name">Zip/Commune: </label>
		<input type="text" id="commune_name"/>
	</div>

	<div id="address_to_zip">
		<label for="address_to_commune">Adresse: </label>
		<input type="text" id="address_to_commune"/>
	</div>

	<div id="results">
		<button id="ip_geo_localization">Geo ip</button>
		<button id="address_geo_localization">Geo address</button>
		<textarea id="address_result"></textarea>
	</div>
	<script type="text/javascript">
		window.departements_url       = "{% url 'departements' %}"      ;
		window.ip_geolocator_url      = "{% url 'ip_geolocator' %}"     ;
		window.commune_to_zip_url     = "{% url 'commune_to_zip' %}"    ;
		window.address_geolocator_url = "{% url 'address_geolocator' %}";
	</script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/main.js"></script>
</body>
</html>