.map_reset_panel {
	width : 24px   ;
	height: 24px   ;
	cursor: pointer;
	left  : 16px   ;
	top   : 280px  ;
}

.reset_mapItemInactive {
	background-image: url('../img/globe_mini.png');
	width           : 24px ;
	height          : 24px ;
	left            : 16px ;
	z-index         : 99999;
	top             : 280px;
}

#map {
	width   : 60%     ;
	height  : 660px   ;
}

#commune_to_zip {
	top     : 10px    ;
	right   : 60px    ;
	position: absolute;
}

#address_to_zip {
	top     : 40px    ;
	right   : 60px    ;
	position: absolute;
}

#results {
	top     : 80px    ;
	right   : 60px    ;
	position: absolute;
}

#address_result {
	top     : 30px    ;
	right   : 0px     ;
	width   : 400px   ;
	height  : 100px   ;
	position: absolute;
}

input {
	width: 200px;
}